.sectionsColumn {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
  }

  .sectionsColumn > div {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
  }

  .sectionsColumn * {
    max-width: 100% !important;
  }
